<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="stylesheets/indexStyle.css">
    <link rel="stylesheet" href="stylesheets/inventoryPanelStyle.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Inventory Panel</title>
</head>
<body>
    <div class="addMeal">
        <div>
            <label for="">Title: </label>
            <input type="text">
        </div>
        
        <div>
            <label for="">Desc: </label>
            <input id="descriptionMeal" type="text">
        </div>
        
        <div>
            <label for="">Price</label>
            <input type="text">
        </div>
        
        <div>
            <label for="">Quantity(Optional)</label>
            <input type="text">
        </div>
        
        <div>
            <label for="">Out of Stock</label>
            <input type="checkbox">
        </div>
        
        <div id="buttonSubmit">
            <button>Submit</button>
        </div>
    </div>
</body>
</html>